<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/static/images/SWLY.jpg" width="40" height="40" class="d-inline-block align-center" alt="FastAPI Logo">
            <span style="margin-left: 5px; font-size: 1.4rem;">SWLY Tracker</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown {{'active' if active_page == 'unsplash' or active_page == 'twoforms' }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/unsplash">Unsplash</a></li>
                        <li><a class="dropdown-item" href="/twoforms">Two forms</a></li>
                    </ul>
                </li>
                <li class="nav-item {{'active' if active_page == 'swly_list' }}">
                    <a class="nav-link" href="/swly_list">Swly List</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'swly_analysis' }}">
                    <a class="nav-link" href="/swly_analysis">Swly Analysis</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'swly_records' }}">
                    <a class="nav-link" href="/swly_records">SWLY Records</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'label_review' }}">
                    <a class="nav-link" href="/label_review">Gallery View</a>
                </li>
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <!-- <img src="/static/images/SWLY.jpg" width="50" height="50" class="rounded-circle" alt=""> -->
                    <span> </span> <strong>{{user}}</strong>
                </a>
                <a href="#" class="navbar-nav-link d-flex align-items-center" data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="blue" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                    </svg>
                </a>
            </ul>
        </div>
    </div>
</nav>

<!-- <style>
    .navbar-toggler {
        margin-top: 0; /* Adjust top margin */
        margin-bottom: 0; /* Adjust bottom margin */
    }

    .navbar-brand img {
        margin-top: -5px; /* Adjust top margin of the logo */
    }
</style> -->
<!-- 
<style>
    .navbar {
        margin-bottom: 10; /* Remove bottom margin */
        padding: 10px 10px; /* Adjust padding */
    }

    .navbar-nav .nav-item .nav-link {
        color: #fff; /* Default color for nav links */
    }

    .navbar-nav .nav-item.active .nav-link {
        color: #ffc107; /* Brighter color for active nav link */
    }
</style>
-->