{% extends "base.html" %}
{% set active_page = "swly_anlaysis" %}
{% block title %}SWLY Label{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <main role="main" style="padding-top: 70px;">
        <div closs="row mb-3">
            <form id="dataForm_search_label" onsubmit="filterData(event)">
                <div class="row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" id="inputLabel" placeholder="label">
                    </div>
                    <div class="col">
                        <label for="submitButton"></label>
                        <button type="submit" class="btn btn-primary mt-md-4">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <hr/>
        <div class="row">
            <div id="highchart-bar-chart"></div>
        </div>
        <hr/>
        <div class="row">
            <div id="highchart-line-chart"></div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var data = {{ bar_data | safe }};
            Highcharts.chart('highchart-bar-chart', {
                chart: {
                    type: 'column',
                    zoomType: 'x'  // 添加缩放功能
                },
                title: {
                    text: 'Monthly Wafer Counts by SWLY Label',
                    style: {
                        fontSize: '12px'  // 设置标题字体大小为12px
                    }
                },
                xAxis: {
                    categories: Object.keys(data),
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Wafer Counts'
                    },
                    stackLabels: {
                        enabled: true,
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'top',
                    layout: 'horizontal',
                    maxHeight: 60,  // 设置最大高度
                    navigation: {
                        activeColor: '#3E576F',
                        animation: true,
                        arrowSize: 12,
                        inactiveColor: '#CCC',
                        style: {
                            fontWeight: 'bold',
                            color: '#333',
                            fontSize: '12px'
                        }
                    }
                },
                series: Object.keys(data[Object.keys(data)[0]]).map(swly_label => ({
                    name: swly_label,
                    data: Object.keys(data).map(month => data[month][swly_label] || 0)
                })),
                rangeSelector: {  // 添加范围选择器
                    selected: 1
                }
            });

            var rawData = {{ line_data | safe }};
            var processedData = {};
        
            // Process the data to fit Highcharts series format
            rawData.forEach(function(point) {
                if (!processedData[point.swly_label]) {
                    processedData[point.swly_label] = [];
                }
                processedData[point.swly_label].push([point.month, point.swly_percent]);
            });
        
            var seriesData = Object.keys(processedData).map(function(key) {
                return {
                    name: key,
                    data: processedData[key].map(function(item) {
                        return item[1];
                    })
                };
            });
        
            Highcharts.chart('highchart-line-chart', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Average SWLY Percent by Month'
                },
                xAxis: {
                    categories: rawData.map(function (item) { return item.month; }).filter(function (value, index, self) {
                        return self.indexOf(value) === index; // Remove duplicates
                    }),
                    title: {
                        text: 'Month'
                    },
                    crosshair: true
                },
                yAxis: {
                    title: {
                        text: 'Average SWLY Percent'
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y:.2f}'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: seriesData
            });

        });
    </script>

    <script>
        async function filterData(event) {
            event.preventDefault();
            var label = $('#inputLabel').val();  // Use jQuery to get the value
            console.log(label);
    
            const response = await fetch(`/filter_data/${label}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ label: label })  // Send the label as JSON
            });
    
            if (response.ok) {
                const data = await response.json();
                updateCharts(data.bar_data, data.line_data);
            } else {
                console.error('Failed to fetch data');
            }
        }
    
        function updateCharts(barData, lineData) {
            Highcharts.chart('highchart-bar-chart', {
                chart: { type: 'column' },
                title: { text: 'Monthly Wafer Counts by SWLY Label' },
                xAxis: { categories: Object.keys(barData), crosshair: true },
                yAxis: {
                    min: 0,
                    title: { text: 'Wafer Counts' },
                    stackLabels: {
                        enabled: true,
                        style: { fontWeight: 'bold', color: 'gray' }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: { enabled: true }
                    }
                },
                series: Object.keys(barData[Object.keys(barData)[0]]).map(swly_label => ({
                    name: swly_label,
                    data: Object.keys(barData).map(month => barData[month][swly_label] || 0)
                }))
            });
    
            var processedData = {};
            lineData.forEach(function(point) {
                if (!processedData[point.swly_label]) {
                    processedData[point.swly_label] = [];
                }
                processedData[point.swly_label].push([point.month, point.swly_percent]);
            });
    
            var seriesData = Object.keys(processedData).map(function(key) {
                return {
                    name: key,
                    data: processedData[key].map(function(item) { return item[1]; })
                };
            });
    
            Highcharts.chart('highchart-line-chart', {
                chart: { type: 'line' },
                title: { text: 'Average SWLY Percent by Month' },
                xAxis: {
                    categories: lineData.map(function(item) { return item.month; }).filter(function(value, index, self) {
                        return self.indexOf(value) === index;
                    }),
                    title: { text: 'Month' },
                    crosshair: true
                },
                yAxis: { title: { text: 'Average SWLY Percent' } },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y:.2f}'
                },
                plotOptions: {
                    line: {
                        dataLabels: { enabled: true }
                    }
                },
                series: seriesData
            });
        }
    </script>
{% endblock %}