{% extends "base.html" %}
{% set active_page = "label_review" %}
{% block title %}SWLY Label{% endblock %}
{% block head %}
    {{ super() }}
    <style>    
        .img-container{
            border: 2px solid black;
        }
        .img-container img{
            width: 130px;
            height: 130px;
        }
        .container {
            width: 100%;
            height: 100%;
        }

        .card-body {
            overflow-y: auto;
            overflow-x: auto;
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block page_content %}
    <main role="main" style="padding-top: 70px;">
        <div closs="row mb-3">
            <form id="dataForm_search_lot" action="/form_search_lot" method="post">
                <div class="row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" id="inputRootLotId" placeholder="RootLotID">
                      </div>
                    <div class="col">
                        <label for="submitButton"></label>
                        <button type="submit" class="btn btn-primary mt-md-4">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <hr/>
        <div class="row mb-3">
                <div class = "col-md-5">
                    <form id="submit_swly_list" method="post" action="/submit_swly_list_data">
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <label for="inputProcessId">ProcessID:</label>
                                    <input type="text" id="inputProcessId" name="processid_label" class="form-control" placeholder=" " value="">
                                </div>
                                <div class="col">
                                    <label for="inputLayer">Layer:</label>
                                    <input type="text" id="inputLayer" name="layer_label" class="form-control" placeholder=" " value="">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputTool">BIN List:</label>
                            <input type="text" id="inputTool" name="tool_label" class="form-control" placeholder=" " value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputBins">BIN List:</label>
                            <input type="text" id="inputBins" name="bin_label" class="form-control" placeholder=" " value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputSignature">Signature:</label>
                            <input type="text" id="inputSignature" name="signature_label" class="form-control" placeholder=" " value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputType">Type:</label>
                            <input type="text" id="inputType" name="type_label" class="form-control" placeholder=" " value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputUser">User:</label>
                            <input type="text" id="inputUser" name="user_label" class="form-control" placeholder=" " value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputSWLYName">SWLY Name:</label>
                            <input type="text" id="inputSWLYName" required name="swly_label" class="form-control" placeholder=" " value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputSWLYDesc" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="inputSWLYDesc" rows="3">""</textarea>
                            <div id="help" class="form-text">Please provide complete Job description,requirements,perks and benefits.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    
                </div>
                <div class = "col-md-7">
                    <div id="ag-grid-label" class="ag-theme-alpine" style="height: 400px; width: 100%;"></div>
                </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-cone-striped" viewBox="0 0 16 16">
                        <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9s-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12m-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4s1.2-.036 1.725-.098m4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257z"/>
                    </svg>
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <!-- Unauthorized Modal -->
        <div class="modal fade" id="unauthorizedModal" tabindex="-1" aria-labelledby="unauthorizedModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="unauthorizedModalLabel">Unauthorized Access</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You are not authorized to update this table.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeUnauthorizedModal" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // Make the template variables available to the external JS
        var rowData = {{ rowData | safe }};
        // console.log(columnDefs); // Add this to check the output in your browser console
        console.log(rowData);  
    </script>

    <script src="{{ url_for('static', path='customJS/label.js') }}"></script>
{% endblock %}